html,
body {
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.flex-box {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  border-top: 10px;
}

.question-tab {
  width: 200px;
  overflow: hidden;
  background-color: white;
  border: 3px black solid;
  font-weight: bolder;
  font-size: larger;
  padding: 50px;
}